<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>

    <%- include('./partials/header') %>

    
    <main class="profile-content">
        <section class="profile">
            <article class="profile__user">
                    <img src="/img/users/<%= user.image %>" alt="" class="profile__image">
            </article>
            <section class="profile__data">
                <h3>Tus Datos</h3>
                <ul>
                    <li>
                        <a href="/user/logout">logout</a>
                    </li>
                    <li>
                        <p>Nombre de usuario</p>
                        <%= user.name %>
                    </li>
                    <li>
                        <p>Apellido</p>
                        <%= user.lastname %>
                    </li>
                    <li>
                        <p>Correo electronico</p>
                        <%= user.email %>
                    </li>
                    <li>
                        <p>Direccion</p>
                        <%= user.address %>
                    </li>
                    <li>
                        <p>Codigo postal</p>
                        <%= user.postalCode %>
                    </li>
                    <li>
                        <p>telefono</p>
                        <%= user.phone %>
                    </li>
                </ul>
            </section>
        </section>
    </main>

    <script src="/js/script.js"></script>

</body>

</html>